// Cribbed from _type.scss

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
  direction: $text-direction;
}

/* Default Link Styles */
a {
  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;
  line-height: inherit;

  &:hover,
  &:focus { color: $anchor-font-color-hover; }

  img { border:none; }
}

/* Default paragraph styles */
p {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;

  &.lead { @extend %lead; }

  & aside {
    font-size: $paragraph-aside-font-size;
    line-height: $paragraph-aside-line-height;
    font-style: $paragraph-aside-font-style;
  }
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  color: $header-font-color;
  text-rendering: $header-text-rendering;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  line-height: $header-line-height - em-calc(3);

  small {
    font-size: $small-font-size;
    color: $small-font-color;
    line-height: 0;
  }
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

.subheader { @extend %subheader; }

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* Lists */
ul,
ol,
dl {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  list-style-position: $list-style-position;
  font-family: $paragraph-font-family;
}

ul, ol {
  margin-#{$default-float}: $list-side-margin;
  &.no-bullet { margin-#{$default-float}: $list-side-margin-no-bullet; }
}

/* Unordered Lists */
ul {
  li {
    ul,
    ol {
      margin-#{$default-float}: $list-nested-margin;
      margin-bottom: 0;
      font-size: 1em; /* Override nested font-size change */
    }
  }
  &.square,
  &.circle,
  &.disc {
    li ul { list-style: inherit; }
  }

  &.square { list-style-type: square; }
  &.circle { list-style-type: circle; }
  &.disc { list-style-type: disc; }
  &.no-bullet { list-style: none; }
}

/* Ordered Lists */
ol {
  li {
    ul,
    ol {
      margin-#{$default-float}: $list-nested-margin;
      margin-bottom: 0;
    }
  }
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 1em;
}
